body {
background-color: rgb(194, 91, 31);
font-family: 'Titillium Web', sans-serif;
text-align: center
}

main {
    font-size: 30%;
margin: 20em 10 em

}



h1 {
font-size: 70pt;
}

.artObject {width: 40%;
height: 40%; 
max-width: 50% ;
border-radius: 50px;
border: .3rem blue;
margin: 20px;

}