body {
background-color: rgb(194, 91, 31);
font-family: 'Titillium Web', sans-serif;
text-align: center
}

main {
    font-size: 30%;
margin: 20em 10 em

}



h1 {
font-size: 30pt;
}

h2 {
    font-size: 30pt;
}
section .comment {font-size: 20pt }

.artObject {width: 20%;
height: 20%; 
max-width: 50% ;
border-radius: 50px;
border: .3rem blue;
margin: 30px;

}